//- var curUser = { firstname: 'Christoph', lastname: 'Hohnerlein' }

if !curUser
  #greeting.pull-right You are currently not logged in.
  br
  #loginButton.pull-right
    a(data-toggle='modal', href='#', data-target='#loginModal') Log in
else
  #greeting.pull-right Welcome 
    a(href='#userModal', data-toggle="modal" data-target="#userModal") #{curUser.firstname} #{curUser.lastname}
  br
  #adminButton.pull-left
    a(href='#adminModal', data-toggle="modal" data-target="#adminModal") View Admin
  #logoutButton.pull-right
    a(href='logout') Log out
