.panel.with-nav-tabs.panel-default
  .panel-heading(style='padding: 5px 5px 0 5px')
    ul.nav.nav-tabs.nav-justified(style='border-bottom: none;margin-bottom: -1px')
      li.active
        a(href='#returnItem',data-toggle='tab') Return item
      li
        a(href='#addItem',data-toggle='tab') Add item
      li
        a(href='#userTab',data-toggle='tab') Users
      li
        a(href='#addCSV',data-toggle='tab') Add CSV
  .panel-body
    .tab-content
      #returnItem.tab-pane.fade.in.active
        .form-horizontal
              .form-group#returnItemGroup
                .col-xs-3
                  .input-group
                    .input-group-addon Item
                    input#returnItemForm.form-control(type='text', placeholder='0123')
                .col-xs-1
                  button#returnButton.btn.btn-default(type='button') Return
                .col-xs-offset-1.col-xs-7
                  textarea#returnResponse.form-control(type='text', rows='1' readonly)
      #addItem.tab-pane.fade.in
        row
          p Enter label ID to edit item or add a new one based on that item:
          .form-horizontal
            .form-group#getItemGroup
              .col-xs-3
                .input-group
                  .input-group-addon Item
                  input#getItemForm.form-control(type='text', placeholder='0123')
              .col-xs-1
                button#getItemButton.btn.btn-default(type='button') Get
              .col-xs-offset-1.col-xs-7
                textarea#getItemResponse.form-control(type='text', rows='1' readonly) 
        form(action='items/create',method='post',id='addItemForm')
          table.table.table-condensed
            thead
              tr
                th.col-md-1 Category
                th.col-md-5 Item
                th.col-md-2 ID
                th.col-md-2 Location
                th.col-md-2 Condition
            tbody
              tr
                td
                  select(id='itemCategory' class='form-control' name='category')
                    option(value='Accessories') Accessories
                    option(value='Amplifier') Amplifier
                    option(value='Audio Hardware') Audio Hardware
                    option(value='Audio Interface') Audio Interface
                    option(value='Cables') Cables
                    option(value='Headphone Amplifier') Headphone Amplifier
                    option(value='Headphones') Headphones
                    option(value='Headset') Headset
                    option(value='Laptop') Laptop
                    option(value='Loudspeaker') Loudspeaker
                    option(value='Measurement Technology') Measurement Technology
                    option(value='Microphone') Microphone
                    option(value='Microphone Amplifier') Microphone Amplifier
                    option(value='Mobile Device') Mobile Device
                    option(value='Motion Input Device') Motion Input Device
                    option(value='Permanently Installed Devices') Permanently Installed Devices
                    option(value='Recording Device') Recording Device
                    option(value='Software') Software
                    option(value='Telephone Device') Telephone Device
                    option(value='Tools') Tools
                    option(value='Video Interface') Video Interface
                    option(value='Webcam') Webcam
                td
                  input(id='itemName' type='text' class='form-control' placeholder='Name, e.g. "Sennheiser HD-25"' name='name')
                td
                  input(id='itemLabel' type='text' class='form-control' placeholder='Max: '+ ("0000" + maxLabel).substr(-4,4) name='label')
                td
                  input(id='itemLocation' type='text' class='form-control' placeholder='Pinta 2.3' name='location')
                td
                  select(id='itemCondition' class='form-control' name='condition')
                    option(value='Working') Working
                    option(value='Mended') Mended
                    option(value='Broken') Broken
                    option(value='Other') Other
              tr
                td
                td
                  input(id='itemDescription' type='text' class='form-control' placeholder='Description, e.g. "Closed on-ear headphones, 25 ohm impedance"' name='description')
                td
                td
                  select(id='itemStatus' name='status' class='form-control')
                    option(value='in') Available
                    option(value='nocirc') No Circulation
                    option(value='out') Borrowed
                td(rowspan='2')
                  textarea.form-control(rows='4', id='itemComment', placeholder='Comment history, e.g. "Bought 20.10.2014, repaired 24.11.2015"', name='comment')
              tr
                td
                td
                  input(id='itemURL' type='text' class='form-control' placeholder='URL, e.g. http://en-de.sennheiser.com/on-ear-dj-headphones-hd-25-1-ii' name='url')
                td
                  input(id='itemSerial' type='text' class='form-control' placeholder='Serial#, e.g. ABCD-0123' name='serial')
                td
                  input(id='itemUserID' type='text' class='form-control' placeholder='UserID (if borrowed)' name='Userid')
                td
          button(type='submit', form='addItemForm').btn.btn-default.pull-right.btn-success Add Item
      #userTab.tab-pane.fade.in
        .panel.panel-default
          .panel-heading 
            h5.panel-title List of users
          .panel-body
            table.table.table-striped.table-condensed#userListTable
              thead
                tr
                  th ID
                  th Username
                  th First Name
                  th Last Name
                  th Role
                  th Active
        .panel.panel-default
          .panel-heading 
            h5.panel-title Add new user
          .panel-body
            form(action='users',method='post',id='addUserForm')
              table.table.table-striped.table-condensed
                tbody
                  tr
                    td.col-md-2
                      input(id='newUsername' type='text' class='form-control' placeholder='doe.john' name='username')
                    td.col-md-2
                      input(id='newFirstname' type='text' class='form-control' placeholder='John' name='firstname')
                    td.col-md-2
                      input(id='newLastname' type='text' class='form-control' placeholder='Doe' name='lastname')
                    td.col-md-1
                      select(id='newRole' class='form-control' name='role')
                        option(value='User') User
                        option(value='Admin') Admin
                    td.col-md-1
                      select(id='newActive' class='form-control' name='active')
                        option(value='true') true
                        option(value='false') false
              button#addUserButton(type='submit', form='addUserForm').btn.btn-default Add User
      #addCSV.tab-pane.fade.in
        .col-sm-12
          p Paste CSV data below, check order and hit submit. Delimiter is auto-detected but ';' works well. Avoid including header rows or empty lines at the end.
          form.form-horizontal
            .form-group
              .col-sm-10
                textarea.form-control(id='csvInputField', rows='3', placeholder='Sennheiser HD 25-1;Headphones;;0005;;Belafonte 1.1;')
              .col-sm-12
                p Order the data
                ul.list-inline.btn-group.btn-group-justified.sortable(role='group', id='reorderList')
                  li.disabled
                    button.btn.btn-default.disabled Category
                  li
                    button.btn.btn-default.disabled Item
                  li
                    button.btn.btn-default.disabled Description
                  li
                    button.btn.btn-default.disabled Label
                  li
                    button.btn.btn-default.disabled Serial
                  li
                    button.btn.btn-default.disabled Location
                  li
                    button.btn.btn-default.disabled 
                  li
                    button.btn.btn-default.disabled Condition
                  li
                    button.btn.btn-default.disabled Comment
                  li
                    button.btn.btn-default.disabled URL
              .col-sm-2
                button.btn.btn-success(id='submitCSV', type='button') Submit
        .col-sm-12
          #parsedData
            table.table.table-condensed.table-striped.table-hover(id='parsedTable' style='table-layout:fixed;')
              thead
                tr
                  th.col-md-1 Category
                  th.col-md-2 Item
                  th.col-md-2 Description
                  th.col-md-1 Label
                  th.col-md-1 Serial
                  th.col-md-1 Location
                  th.col-md-1 Condition
                  th.col-md-2 Comment
                  th.col-md-1 URL
            button.btn.btn-danger(id='writeCSV', type='button') Looks good? Write to db!
