doctype html
html
  head
    title= 'QU & AIPA Hardware'
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/new.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/jquery.dataTables.min.css')
    script(type='text/javascript', src='./javascripts/jquery.min.js')
    script(type='text/javascript', src='./javascripts/bootstrap.min.js')
    script(type='text/javascript', src='./javascripts/global.js')
    script(type='text/javascript', src='./javascripts/papaparse.min.js')
    script(type='text/javascript', src='./javascripts/jquery.dataTables.min.js')
    script(type='text/javascript', src='./javascripts/jquery.sortable.min.js')
  body
  
  #search-results

    //- NAVBAR
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header.hidden-xs.hidden-sm(style='width:14%;')
            a.navbar-brand(href='#tab-search', role='tab', data-toggle='tab', style='margin-top: 9px;') QU &amp; AIPA Hardware 
          .navbar-left(style='width:65%;')
            form.navbar-form(role='search', style='width:100%;margin-top: 18px;margin-bottom: 18px;')
              .form-group.has-feedback(style='width:100%')
                input#searchBar.search.form-control.hasclear(autocomplete='off', placeholder='Search', type='text', style='width:100%')
                span#search-clearer.clearer.glyphicon.glyphicon-remove-circle.form-control-feedback
                //-input#search-button.hidden(type='button', value='Search')
          #account-info.navbar-text.pull-right
            include account.jade
    
    //- CONTENT
    .container-fluid
      #main-content.tab-content
        #tab-search.tab-pane.fade.in.active
          //- SEARCH CONTENT
          
          table.table.table-condensed.table-hover(id='itemTable')
              thead
                tr
                  th.col-md-2.noselect.handcursor Category
                  th.col-md-5.noselect.handcursor Item
                  th.col-md-1.noselect.handcursor ID
                  th.col-md-2.noselect.handcursor Location
                  th.col-md-1.noselect.handcursor Condition
                  th.col-md-1.noselect.handcursor 

        #tab-account.tab-pane.fade
          .container
            .row
              .cols-xs-12
                .borrowedTable
                p To return any of the borrowed items, simply put it in the RÜCKGABE
                | box in Room Pinta. If the equipment is faulty, please instead put
                | it into the <i>broken stuff</i> box and attach a note describing the fault.
        #tab-admin.tab-pane.fade
          .container
            .row
              .cols-xs-12
                include admin.jade
  //- MODALS
  include modals.jade
