doctype html
html
  head
    title= 'QU & AIPA Hardware'
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/custom/bootstrap_flatly_custom.min.css')
    link(rel='stylesheet', href='/custom/style.css')
    script(type='text/javascript', src='./js/jquery.min.js')
    script(type='text/javascript', src='./js/bootstrap.min.js')
    script(type='text/javascript', src='./js/papaparse.min.js')
    script(type='text/javascript', src='./js/jquery.dataTables.min.js')
    script(type='text/javascript', src='./js/jquery.sortable.min.js')
    script(type='text/javascript', src='./custom/custom.js')
  body
  
  //- NAVBAR
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        include navbar.jade
  
  //- CONTENT
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1
        table.table.table-condensed.table-hover(id='itemTable')
            thead
              tr
                th.col-md-2.noselect.handcursor Category
                th.col-md-5.noselect.handcursor Item
                th.col-md-1.noselect.handcursor ID
                th.col-md-2.noselect.handcursor Location
                th.col-md-1.noselect.handcursor Condition
                th.col-md-1.noselect.handcursor 

  //- MODALS
  include modals.jade
