block navbar
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header.hidden-xs.hidden-sm(style='width:14%;')
          a.navbar-brand(href='#tab-search', role='tab', data-toggle='tab', style='margin-top: 9px;') QU &amp; AIPA Hardware 
        .navbar-left(style='width:65%;')
          form.navbar-form(role='search', style='width:100%;margin-top: 18px;margin-bottom: 18px;')
            .form-group.has-feedback(style='width:100%')
              input#search-textbox.form-control.hasclear(type='text', autocomplete='off', placeholder='Search', style='width:100%')
              span#search-clearer.clearer.glyphicon.glyphicon-remove-circle.form-control-feedback
        #account-info.navbar-text.navbar-right(style='width:auto;')
          include account.jade
