body {
	padding-top: 90px;
}

#top-bar {
	background: #6C7479;
	/*background: -moz-linear-gradient(top,  #ececec 0%, #9b9b9b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#9b9b9b));*/
	padding: 0;
}

#title {
	font-size: 24px;
	font-weight: bold;
	line-height: 56px;
	color: #fff;
	text-shadow: 1px 1px #696969;
	padding-right: 3%;
	padding-left: 3%;
}

.nav {
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

/*
.my-navtab {
	height: 56px;
	background: -moz-linear-gradient(top,  #ececec 0%, #9b9b9b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#9b9b9b));
}

.my-navtab.active {
	background: #FFF;
}


.my-navtab a {
	border: 0 !important;
	font-size: 17pt;
	line-height: 56px;
	color: #fff !important;
	border-top: 2px solid #6C7479 !important;
	border-bottom: 2px solid #6C7479 !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.my-navtab.active a {
	background: #FFF !important;
	color: #FF3399 !important;
	text-shadow: none !important;
	border-top: 2px solid #6C7479 !important;
	border-bottom: 2px solid white !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px !important;
}

.my-navtab a:hover {
	color:#FF3399 !important;
	text-shadow: none !important;
	background: #FFF !important;
	border-bottom: 2px solid #FF3399 !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px !important;
}

.my-navtab.active a:hover {
	color:#FF3399 !important;
	text-shadow: none !important;
	background: #FFF !important;
	border-bottom: 0px solid #FF3399 !important;
}
*/

#search-clearer{
	pointer-events: auto;
	cursor: pointer;
	color: #444;
}

#main-content{
	padding: 20px;
	padding-bottom:0px;
}

@media (max-width: 768px) {
	body {
		padding-top: 156px;
	}
}

ul.pagination {
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
}

tr {
   max-height: 25px !important;
   height: 25px !important;
   overflow:hidden;
}

#search-results-table td {
	vertical-align:middle;
}

#pagination-text{
	padding-left:20px;
}

#pagination-footer{
	display: flex;
	align-items: center;
}

#pagination-pages{
	cursor: pointer;
}

.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  content:"";
  position: relative;
  top:12px;
  right:-5px;
}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.handcursor{
	cursor: pointer;
}

.centered{
	text-align: center;
}